<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level %logger %message%newline"/>
        </layout>
    </appender>
    <root>
        <level value="ERROR" />
        <appender-ref ref="console" />
    </root>
    <logger name="Microsoft.EntityFrameworkCore.Database.Command">
        <level value="DEBUG" />
    </logger>
    <logger name="Microsoft.EntityFrameworkCore.Database.Transaction">
        <level value="DEBUG" />
    </logger>
    <logger name="Microsoft.EntityFrameworkCore.Database.Connection">
        <level value="DEBUG" />
    </logger>
</log4net>
